/*COLORS*/
/*Accent*/
/*Active*/
/*Grey*/
/*Basic*/
/*FONT WEIGHT*/
/*Gradient*/
.gradient-regular {
  background: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
}

.gradient-soft {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.gradient-red {
  background: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
}

.gradient-supersoft {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.gradient-redtext-back {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.gradient-redtext {
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

/*FONTS*/
.hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}

.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
}

.h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.unordered-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.ordered-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

/*LINKS*/
.link-active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.link-hover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F0145A;
}

/*OTHER*/
.wrapper {
  padding: 0 160px;
  border-radius: 0px 0px 12px 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
.header .r-area-header .t-box-r-box-header {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.header .r-area-header .languages-box {
  display: flex;
}
.header .r-area-header .languages-box .language {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  font-weight: 700;
}
.header .r-area-header .languages-box .language.active {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  font-weight: 700;
  background-color: #F0145A;
}
.header .r-area-header .header-number a {
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}
.header .r-area-header .dot {
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
}
.header .r-area-header .b-box-r-box-header {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-top: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
.header .r-area-header .b-box-r-box-header a {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-top: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

.homepage-main {
  position: relative;
  margin-top: -130px;
  z-index: 0;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.homepage-main .homepage-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  margin: 0;
  opacity: 0;
  -webkit-animation: ani 2.5s forwards;
          animation: ani 2.5s forwards;
}
@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homepage-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}

.tag-box {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.title-tag-box {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title-tag-box .active {
  padding-bottom: 3opx;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.title-tag-box .h2-tag-box {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #B3B3BA;
}

.description-tag-box {
  width: 860px;
}
.description-tag-box h3 {
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}
.description-tag-box p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.services-box {
  padding-top: 60px;
}
.services-box h5 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
}
.services-box h2 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.description-services-box {
  padding-top: 60px;
  width: 494px;
}
.description-services-box h4 {
  padding-top: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
}
.description-services-box p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.services-box a {
  color: #F0145A;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services-box .services-box-areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

.shadow-for-services-box {
  display: flex;
  flex-direction: column;
}
.shadow-for-services-box .first-shadow-for-services-box {
  padding: 0px;
  height: 10px;
  width: 1880px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.shadow-for-services-box .second-shadow-for-services-box {
  height: 10px;
  width: 1840px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

.team-section-box {
  display: flex;
  padding: 60px 160px 60px 160px;
}
.team-section-box .team-section-description {
  padding-left: 30px;
  padding-top: 30px;
  height: 298px;
  width: 1600px;
  background: #F5F5FA;
  border-radius: 0px 12px 12px 0px;
}
.team-section-box a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.team-section-box h3 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.team-section-box h4 {
  padding-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.team-section-box p {
  padding-top: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.team-section-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}/*# sourceMappingURL=index.css.map */