/*COLORS*/
/*Accent*/
/*Active*/
/*Grey*/
/*Basic*/
/*FONT WEIGHT*/
/*Gradient*/
.gradient-regular {
  background: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
}

.gradient-soft {
  background: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.gradient-red {
  background: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
}

.gradient-supersoft {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
}

.gradient-redtext-back {
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

.gradient-redtext {
  color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
}

/*FONTS*/
.hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -text-fill-color: transparent;
}

.h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #323264;
}

.h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #323264;
}

.h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.unordered-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.ordered-list {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

/*LINKS*/
.link-active {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}

.link-hover {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F0145A;
}

/*OTHER*/
.wrapper {
  padding: 0 160px;
  border-radius: 0px 0px 12px 12px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

/*HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}
.header .r-area-header .t-box-r-box-header {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.header .r-area-header .languages-box {
  display: flex;
}
.header .r-area-header .languages-box .language {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  font-weight: 700;
}
.header .r-area-header .languages-box .language-active {
  width: 33px;
  height: 25px;
  border-radius: 8px;
  font-weight: 700;
  background-color: #F0145A;
}
.header .r-area-header .header-number a {
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}
.header .r-area-header .dot {
  width: 6px;
  height: 6px;
  background-color: #E6E6F0;
  border-radius: 50%;
}
.header .r-area-header .b-box-r-box-header {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-top: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
.header .r-area-header .b-box-r-box-header .menu-btn {
  display: none;
}
.header .r-area-header .b-box-r-box-header a {
  display: flex;
  justify-content: end;
  gap: 15px;
  padding-top: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}
.header .r-area-header .b-box-r-box-header a:hover {
  color: #F0145A;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0px 60px;
  }
}
@media (max-width: 375px) {
  .gradient-supersoft {
    padding: 0px 30px;
  }
  .header {
    display: flex;
    padding-left: 15px;
    margin-left: -60px;
    padding: 0px 30px;
    height: 45px;
    width: 375px;
    background: rgba(245, 245, 250, 0.2);
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .header .logo {
    opacity: 0;
  }
  .header .logo-375px {
    opacity: 1;
    width: 168.95px;
    height: 57px;
    padding-left: 39px;
  }
  .l-area-header {
    position: absolute;
    padding-top: 40px;
  }
  .l-area-header img {
    position: absolute;
    width: 69.33px;
    height: 32px;
    padding-left: 15px;
  }
  .r-area-header {
    padding-left: 15px;
  }
  .r-area-header .dot {
    display: none;
  }
  .r-area-header .address {
    display: none;
  }
  .r-area-header .facebook-header {
    display: none;
  }
  .t-box-r-box-header {
    width: 345px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }
  .homepage-main {
    height: 800px;
  }
  .homepage-main .homepage-img img {
    height: 800px;
    width: 550px;
  }
  .homepage-main h1 {
    margin-left: 40px;
  }
  .r-area-header {
    display: flex;
    align-items: flex-end;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu-button-container {
    position: absolute;
    padding-top: 60px;
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
}
@media (max-width: 375px) and (max-width: 700px) {
  .menu-button-container {
    display: flex;
    z-index: 2;
    height: 30px;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    transition: height 500ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #000000;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #F0145A;
  }
}
.footer-for-375px {
  padding: 30px;
  width: 375px;
  height: 306px;
  background: #F5F5FA;
}
.footer-for-375px .footer-375px-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-for-375px .footer-375px-section .separato-footer {
  padding-bottom: 20px;
  width: 315px;
  height: 2px;
}
.footer-for-375px .footer-375px-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer-for-375px .footer-375px-section a {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.footer-for-375px .footer-375px-section .grey-footer-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}
.footer-for-375px .footer-375px-section .tel-footer-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
  text-decoration: none;
}

html, body {
  max-width: 1920px;
  width: 100%;
}
html .web-conteiner, body .web-conteiner {
  overflow: hidden;
  max-width: 1920px;
  width: 100%;
}

#menu-toggle {
  display: none;
}

.footer-for-375px {
  display: none;
}

.logo-375px {
  opacity: 0;
}

.homepage-main {
  position: relative;
  margin-top: -130px;
  z-index: 0;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.homepage-main .homepage-img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  margin: 0;
  opacity: 0;
  -webkit-animation: ani 2.5s forwards;
          animation: ani 2.5s forwards;
}
@-webkit-keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.homepage-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
}

.tag-box {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.title-tag-box {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title-tag-box .active {
  padding-bottom: 3opx;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.title-tag-box .h2-tag-box {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #B3B3BA;
}

.description-tag-box {
  width: 860px;
}
.description-tag-box h3 {
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
}
.description-tag-box p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

.services-box {
  padding-top: 60px;
}
.services-box h5 {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
}
.services-box h2 {
  padding-top: 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.description-services-box {
  padding-top: 60px;
  width: 494px;
}
.description-services-box h4 {
  padding-top: 30px;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
}
.description-services-box p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.services-box a {
  color: #F0145A;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.services-box .services-box-areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}

.shadow-for-services-box {
  display: flex;
  flex-direction: column;
}
.shadow-for-services-box .first-shadow-for-services-box {
  padding: 0px;
  height: 10px;
  width: 1880px;
  background: #CACADB;
  border-radius: 0px 0px 12px 12px;
}
.shadow-for-services-box .second-shadow-for-services-box {
  height: 10px;
  width: 1840px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

.team-slider .slick-dots {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 30px;
}
.team-slider .slick-dots li {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #24A3FF;
  opacity: 0.2;
  transition: all ease 0.5s;
  cursor: pointer;
}
.team-slider .slick-dots li button {
  display: none;
}
.team-slider .slick-dots li.slick-active {
  opacity: 1;
}
.team-slider .team-section-box {
  display: flex;
  padding: 60px 160px 60px 160px;
}
.team-slider .team-section-box .team-section-description {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  height: 298px;
  width: 1600px;
  background: #F5F5FA;
  border-radius: 0px 12px 12px 0px;
}
.team-slider .team-section-box a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.team-slider .team-section-box h3 {
  padding-top: 5px;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.team-slider .team-section-box h4 {
  padding-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.team-slider .team-section-box p {
  padding-top: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.team-section-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.trust-us-section {
  padding: 60px 100px 30px 100px;
  height: 450px;
}
.trust-us-section h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  padding-bottom: 30px;
}

.trust-us-conteiner {
  display: flex;
  flex-wrap: wrap;
}
.trust-us-conteiner .trust-us-conteiner-Hittel-box {
  width: 430px;
  height: 120px;
  border-radius: 12px 0px 0px 0px;
  background: #1C4280;
}
.trust-us-conteiner .trust-us-conteiner-WannaBiz-box {
  width: 430px;
  height: 120px;
  background: #143646;
}
.trust-us-conteiner .trust-us-conteiner-Tapgerine-box {
  width: 430px;
  height: 120px;
  background: #F48B30;
}
.trust-us-conteiner .trust-us-conteiner-3D-box {
  width: 430px;
  height: 120px;
  background: #9E4DC3;
  border-radius: 0px 12px 0px 0px;
}
.trust-us-conteiner .trust-us-conteiner-Orangear-box {
  width: 430px;
  height: 120px;
  background: #FD9339;
}
.trust-us-conteiner .trust-us-conteiner-Adtelligent-box {
  width: 430px;
  height: 120px;
  background: #E2E2E4;
}
.trust-us-conteiner .trust-us-conteiner-Clickky-box {
  width: 430px;
  height: 120px;
  background: #C71C36;
}
.trust-us-conteiner .trust-us-conteiner-Ecolease-box {
  width: 430px;
  height: 120px;
  background: #DCF3F9;
}
.trust-us-conteiner .trust-us-conteiner-InfraTek-box {
  width: 430px;
  height: 120px;
  background: #EAEAEA;
  border-radius: 0px 0px 0px 12px;
}
.trust-us-conteiner .trust-us-conteiner-CityPark-box {
  width: 430px;
  height: 120px;
  background: #282240;
}
.trust-us-conteiner .trust-us-conteiner-ArtPrintStudio-box {
  width: 430px;
  height: 120px;
  background: #1D4568;
}
.trust-us-conteiner .trust-us-conteiner-UltimateCard-box {
  width: 430px;
  height: 120px;
  background: #000000;
  border-radius: 0px 0px 12px 0px;
}

.publications-section {
  max-width: 1960px;
  height: 563px;
  padding: 30px 160px 0px 160px;
  background: #F5F5FA;
}
.publications-section a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
  padding-bottom: 10px;
}
.publications-section h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.publications-section-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.publications-section-conteiner .publications-section-box-1 {
  margin-top: 30px;
  width: 513.33px;
  height: 430px;
  background: #FFFFFF;
  border-radius: 8px;
}
.publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 {
  padding: 0px 30px 0px 30px;
}
.publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 a h4 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 h3 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.publications-section-conteiner .publications-section-box-2 {
  margin-top: 30px;
  width: 513.33px;
  height: 430px;
  background: #FFFFFF;
  border-radius: 8px;
}
.publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 {
  padding: 0px 30px 0px 30px;
}
.publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 a h4 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 h3 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}
.publications-section-conteiner .publications-section-box-3 {
  margin-top: 30px;
  width: 513.33px;
  height: 430px;
  background: #FFFFFF;
  border-radius: 8px;
}
.publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 {
  padding: 0px 30px 0px 30px;
}
.publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 a h4 {
  padding-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
}
.publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 h3 {
  padding-top: 15px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}
.publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 p {
  padding-top: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.footer-section {
  max-width: 1960px;
  height: 170px;
  padding: 0px 160px 0px 160px;
  background: #F5F5FA;
}
.footer-section .footer-section-conteiner {
  margin: 0 auto;
  width: 1600px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer-section .footer-section-conteiner .top-left-footer-section {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.footer-section .footer-section-conteiner .top-left-footer-section .footer-dot {
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer-section .footer-section-conteiner .top-left-footer-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}
.footer-section .footer-section-conteiner .top-left-footer-section a {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.footer-section .footer-section-conteiner .bottom-left-footer-section {
  padding-top: 21px;
  display: flex;
  gap: 10px;
}
.footer-section .footer-section-conteiner .bottom-left-footer-section .footer-dot {
  width: 6px;
  height: 6px;
  background-color: #B3B3BA;
  border-radius: 50%;
}
.footer-section .footer-section-conteiner .bottom-left-footer-section .tel-footer-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
  text-decoration: none;
}
.footer-section .footer-section-conteiner .bottom-left-footer-section .mail-footer-section {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-decoration: none;
}
.footer-section .footer-section-conteiner .right-footer-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}

@media (max-width: 1440px) {
  .shadow-for-services-box .first-shadow-for-services-box {
    max-width: 1400px;
    width: 100%;
  }
  .shadow-for-services-box .second-shadow-for-services-box {
    max-width: 1360px;
    width: 100%;
  }
  .team-slider .team-section-box {
    display: flex;
    padding: 60px 60px 0px 30px;
  }
  .trust-us-section {
    padding: 60px 0px 0px 0px;
    height: 405px;
  }
  .trust-us-section .trust-us-conteiner-Hittel-box {
    width: 360px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-WannaBiz-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Tapgerine-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-3D-box {
    width: 360px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-Orangear-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Adtelligent-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Clickky-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Ecolease-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-InfraTek-box {
    width: 360px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-CityPark-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-ArtPrintStudio-box {
    width: 360px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-UltimateCard-box {
    width: 360px;
    height: 120px;
    border-radius: 0px;
  }
  .publications-section-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .publications-section-conteiner .publications-section-box-1 {
    margin-top: 30px;
    max-width: 420px;
    width: 100%;
    height: 450px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section-conteiner .publications-section-box-1 .top-img-publications-section-box {
    width: 420px;
    height: 200px;
  }
  .publications-section-conteiner .publications-section-box-1 .bottom-img-publications-section-box {
    width: 360px;
    height: 4px;
  }
  .publications-section-conteiner .publications-section-box-2 {
    margin-top: 30px;
    max-width: 420px;
    width: 100%;
    height: 450px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section-conteiner .publications-section-box-2 .top-img-publications-section-box {
    width: 420px;
    height: 200px;
  }
  .publications-section-conteiner .publications-section-box-2 .bottom-img-publications-section-box {
    width: 360px;
    height: 4px;
  }
  .publications-section-conteiner .publications-section-box-3 {
    margin-top: 30px;
    width: 420px;
    width: 100%;
    height: 450px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section-conteiner .publications-section-box-3 .top-img-publications-section-box {
    width: 420px;
    height: 200px;
  }
  .publications-section-conteiner .publications-section-box-3 .bottom-img-publications-section-box {
    width: 360px;
    height: 4px;
  }
  .footer-section {
    width: 1320px;
    padding: 0px 60px 0px 60px;
  }
  .footer-section .footer-separator img {
    width: 1320px;
  }
  .footer-section .footer-section-conteiner {
    margin: 0 auto;
    width: 1320px;
  }
}
@media (max-width: 1024px) {
  .description-services-box {
    padding-top: 80px;
    padding-bottom: 60px;
    width: 261.33px;
    height: 346px;
  }
  .shadow-for-services-box .first-shadow-for-services-box {
    max-width: 984px;
    width: 100%;
  }
  .shadow-for-services-box .second-shadow-for-services-box {
    max-width: 944px;
    width: 100%;
  }
  .team-slider .team-section-box {
    padding: 60px 60px 0px 60px;
    height: 528px;
  }
  .team-slider .team-section-box img {
    width: 400px;
    height: 528px;
  }
  .team-slider .team-section-box .team-section-description {
    height: auto;
    background: #F5F5FA;
    border-radius: 0px 12px 12px 0px;
  }
  .team-section-box {
    display: flex;
    padding: 60px 60px 0px 30px;
  }
  .trust-us-section {
    padding: 60px 0px 0px 0px;
    height: 405px;
  }
  .trust-us-section .trust-us-conteiner-Hittel-box {
    width: 256px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-WannaBiz-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Tapgerine-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-3D-box {
    width: 256px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-Orangear-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Adtelligent-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Clickky-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Ecolease-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-InfraTek-box {
    width: 256px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-CityPark-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-ArtPrintStudio-box {
    width: 256px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-UltimateCard-box {
    width: 256px;
    height: 120px;
    border-radius: 0px;
  }
  .publications-section {
    padding: 60px;
    height: 650px;
  }
  .publications-section-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .publications-section-conteiner .publications-section-box-1 {
    margin-top: 30px;
    width: 281.33px;
    height: 556px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section-conteiner .publications-section-box-1 .top-img-publications-section-box {
    width: 281.33px;
    height: 200px;
  }
  .publications-section-conteiner .publications-section-box-1 .bottom-img-publications-section-box {
    width: 221.33px;
    height: 4px;
  }
  .publications-section-conteiner .publications-section-box-2 {
    margin-top: 30px;
    width: 281.33px;
    height: 556px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section-conteiner .publications-section-box-2 .top-img-publications-section-box {
    width: 281.33px;
    height: 200px;
  }
  .publications-section-conteiner .publications-section-box-2 .bottom-img-publications-section-box {
    width: 221.33px;
    height: 4px;
  }
  .publications-section-conteiner .publications-section-box-3 {
    margin-top: 30px;
    width: 281.33px;
    height: 556px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section-conteiner .publications-section-box-3 .top-img-publications-section-box {
    width: 281.33px;
    height: 200px;
  }
  .publications-section-conteiner .publications-section-box-3 .bottom-img-publications-section-box {
    width: 221.33px;
    height: 4px;
  }
  .footer-section {
    width: 904px;
    padding: 0px 60px 0px 60px;
  }
  .footer-section .footer-separator img {
    width: 904px;
  }
  .footer-section .footer-section-conteiner {
    margin: 0 auto;
    width: 904px;
  }
}
@media (max-width: 768px) {
  .header .l-area-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 50%;
  }
  .header .r-area-header {
    height: 170px;
    max-height: 170px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .homepage-img {
    width: 768px;
  }
  .shadow-for-services-box .first-shadow-for-services-box {
    max-width: 728px;
    width: 100%;
  }
  .shadow-for-services-box .second-shadow-for-services-box {
    max-width: 688px;
    width: 100%;
  }
  .tag-box {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .tag-box .title-tag-box {
    width: 768px;
    overflow-x: scroll;
    display: -webkit-box;
  }
  .tag-box .description-tag-box {
    width: 700px;
  }
  .tag-box img {
    rotate: 90deg;
    margin-top: -50%;
    margin-bottom: -50%;
    width: 4px;
    height: 648px;
  }
  .team-slider .team-section-box {
    display: flex;
    flex-direction: column;
    padding: 60px 60px 0px 60px;
    height: 935px;
  }
  .team-slider .team-section-box img {
    width: 648px;
    height: 500px;
    border-radius: 12px 12px 12px 12px;
  }
  .team-slider .team-section-box .team-section-description {
    height: 438px;
    width: 590px;
    background: #F5F5FA;
    border-radius: 0px 0px 12px 12px;
    padding: px;
  }
  .team-slider .team-section-box a {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #24A3FF;
    text-decoration: none;
  }
  .team-slider .team-section-box h3 {
    padding-top: 5px;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .team-slider .team-section-box h4 {
    padding-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #B3B3BA;
  }
  .team-slider .team-section-box p {
    padding-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #B3B3BA;
  }
  .trust-us-section {
    padding: 60px 0px 0px 0px;
    height: 527px;
  }
  .publications-section {
    height: 1065px;
  }
  .publications-section .publications-section-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 {
    margin-top: 30px;
    width: 309px;
    height: 514px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 {
    padding: 0px 30px 0px 30px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 a h4 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 h3 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 {
    margin-top: 30px;
    width: 309px;
    height: 514px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 {
    padding: 0px 30px 0px 30px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 a h4 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 h3 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 {
    margin-top: 30px;
    width: 648px;
    height: 388px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .top-img-publications-section-box {
    width: 648px;
    height: 200px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .bottom-img-publications-section-box {
    width: 588px;
    height: 4px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 {
    padding: 0px 30px 0px 30px;
    width: 648px;
    height: 188px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 a h4 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 h3 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  .footer-section {
    width: 648px;
    padding: 0px 60px 0px 60px;
  }
  .footer-section .footer-separator img {
    width: 648px;
  }
  .footer-section .footer-section-conteiner {
    margin: 0 auto;
    width: 648px;
  }
  .footer-section .footer-section-conteiner .bottom-left-footer-section {
    position: absolute;
  }
}
@media (max-width: 375px) {
  .wrapper {
    padding: 0;
  }
  .gradient-supersoft {
    padding: 0px 30px;
  }
  .header {
    display: flex;
    padding-left: 15px;
    margin-left: -60px;
    padding: 0px 30px;
    height: 45px;
    width: 375px;
    background: rgba(245, 245, 250, 0.2);
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .l-area-header {
    position: absolute;
    padding-top: 40px;
  }
  .l-area-header img {
    width: 69.33px;
    height: 32px;
    padding-left: 15px;
  }
  .r-area-header {
    padding-left: 15px;
  }
  .r-area-header .dot {
    display: none;
  }
  .r-area-header .address {
    display: none;
  }
  .r-area-header .facebook-header {
    display: none;
  }
  .t-box-r-box-header {
    width: 345px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
  }
  .homepage-main .homepage-img {
    height: 800px;
  }
  .homepage-main .homepage-img img {
    height: 800px;
    width: 550px;
  }
  .tag-box img {
    rotate: 90deg;
    margin-top: -80%;
    margin-bottom: -80%;
    width: 4px;
    height: 315px;
  }
  .description-services-box {
    width: 315px;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 100%;
  }
  .services-box-areas {
    display: flex;
    flex-direction: column;
  }
  .shadow-for-services-box .first-shadow-for-services-box {
    max-width: 335px;
    width: 100%;
  }
  .shadow-for-services-box .second-shadow-for-services-box {
    max-width: 295px;
    width: 100%;
  }
  .team-slider .team-section-box {
    display: flex;
    flex-direction: column;
    height: 1087px;
    padding: 30px 30px 30px 30px;
    width: 315px;
    height: 1200px;
  }
  .team-slider .team-section-box .team-section {
    width: 315px;
    padding-left: 30px;
  }
  .team-slider .team-section-box img {
    width: 315px;
    height: 500px;
    border-radius: 12px 12px 12px 12px;
  }
  .team-slider .team-section-box .team-section-description {
    height: 800px;
    width: 255px;
    background: #F5F5FA;
    border-radius: 0px 0px 12px 12px;
  }
  .trust-us-section {
    padding: 60px 0px 0px 0px;
    height: 765px;
  }
  .trust-us-section .trust-us-conteiner-Hittel-box {
    width: 375px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-WannaBiz-box {
    width: 375px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Tapgerine-box {
    width: 375px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-3D-box {
    width: 375px;
    height: 120px;
    border-radius: 0px;
  }
  .trust-us-section .trust-us-conteiner-Orangear-box {
    width: 375px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Adtelligent-box {
    width: 375px;
    height: 120px;
  }
  .trust-us-section .trust-us-conteiner-Clickky-box {
    display: none;
  }
  .trust-us-section .trust-us-conteiner-Ecolease-box {
    display: none;
  }
  .trust-us-section .trust-us-conteiner-InfraTek-box {
    display: none;
  }
  .trust-us-section .trust-us-conteiner-CityPark-box {
    display: none;
  }
  .trust-us-section .trust-us-conteiner-ArtPrintStudio-box {
    display: none;
  }
  .trust-us-section .trust-us-conteiner-UltimateCard-box {
    display: none;
  }
  .publications-section {
    height: 1800px;
    padding: 30px;
  }
  .publications-section .publications-section-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .publications-section .publications-section-conteiner .top-img-publications-section-box {
    width: 315px;
    height: 200px;
  }
  .publications-section .publications-section-conteiner .bottom-img-publications-section-box {
    width: 255px;
    height: 4px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 {
    margin-top: 30px;
    width: 315px;
    height: 454px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 {
    padding: 0px 30px 0px 30px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 a h4 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 h3 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .publications-section .publications-section-conteiner .publications-section-box-1 .publications-section-box-description-1 p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 {
    margin-top: 30px;
    width: 315px;
    height: 555px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 {
    padding: 0px 30px 0px 30px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 a h4 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 h3 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .publications-section .publications-section-conteiner .publications-section-box-2 .publications-section-box-description-2 p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 {
    margin-top: 30px;
    width: 315px;
    height: 454px;
    background: #FFFFFF;
    border-radius: 8px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .top-img-publications-section-box {
    width: 315px;
    height: 200px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .bottom-img-publications-section-box {
    width: 255px;
    height: 4px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 {
    padding: 0px 30px 0px 30px;
    width: 255px;
    height: 454px;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 a h4 {
    padding-top: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #24A3FF;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 h3 {
    padding-top: 15px;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B3B3BA;
  }
  .publications-section .publications-section-conteiner .publications-section-box-3 .publications-section-box-description-3 p {
    padding-top: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
  }
  .footer-section {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */