@import "variables.scss";
.homepage-main {
  position: relative;
  margin-top: -130px;
  z-index: 0;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .homepage-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    margin: 0;
      opacity: 0;
      animation: ani 2.5s forwards;
  
    @keyframes ani {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
    }
    }
  .homepage-title {
    font-weight: $bold ;
    font-size: 38px;
    line-height: 46px;
    color: $basic-white;
  }

.tag-box {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.title-tag-box {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 30px;

.active {
  padding-bottom: 3opx;
font-weight: $bold;
font-size: 38px;
line-height: 46px;
text-align: right;
background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.h2-tag-box {
font-weight: bold;
font-size: 38px;
line-height: 46px;
text-align: right;
color: #B3B3BA;
}
    

  } 
.description-tag-box {
  width: 860px;


  h3 {
padding-bottom: 30px;

font-family: 'Montserrat';
font-style: normal;
font-weight: $bold;
font-size: 30px;
line-height: 37px;
color: $basic-white;
  }
  p {
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 30px;
color: $basic-white;
  }
}


.services-box {
padding-top: 60px;

  h5 {
font-weight: $bold;
font-size: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: $accent; 
  }
  h2 {
padding-top: 10px;
font-weight: $bold;
font-size: 38px;
line-height: 46px;
background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
  }
}
.description-services-box {
  padding-top: 60px;
  width: 494px;

 h4 {
  padding-top: 30px;
font-weight: $bold;
font-size: 22px;
line-height: 27px;
color: $active-regular;
 }
 
 p {
padding-top: 15px;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: $basic-white;

 }
}

.services-box {
  a {
    color: #F0145A;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
.services-box-areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
}
.shadow-for-services-box {
  display: flex;
  
  flex-direction: column;
  .first-shadow-for-services-box {
    padding: 0px;
    height: 10px;
    width: 1880px;
    background: #CACADB;
    border-radius: 0px 0px 12px 12px; 
  }
  .second-shadow-for-services-box {
    height: 10px;
    width: 1840px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
  }
}

.team-section-box {
  display: flex;
  padding: 60px 160px 60px 160px;
  .team-section-description {
    padding-left: 30px;
    padding-top: 30px;
    height: 298px;
    width: 1600px;
    background: $grey-bg;
    border-radius: 0px 12px 12px 0px;
  }
  a {
font-weight: bold;
font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: $active-regular;
text-decoration: none;
  }
  h3 {
padding-top: 5px;
font-weight: bold;
font-size: 38px;
line-height: 46px;
background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

  }
  h4 {
padding-top: 30px;

font-weight: 700;
font-size: 16px;
line-height: 20px;
color: $grey-text;
  }
  p {
padding-top: 6px;

font-weight: 400;
font-size: 14px;
line-height: 22px;
color: $grey-text;
  }
}

.team-section-dot {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}